body, ul, h1, h2, p, h3{
    margin: 0;
    padding: 0;
}
body{
    background: url(../img/banner_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #6c6c6c;

}
.container{
    width: 1024px;
    margin: 0 auto;
}
header{
    background: #fff;
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 24px 0 21px 27px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    margin-right: 38px;
    padding-top: 50px;
}
nav a{
    text-decoration: none;
    color: #6c6c6c;
    border-bottom: 3px solid transparent;
    padding-bottom: 15px;
    font-size: 21px;
    letter-spacing: 0.1px;
}
nav a:hover{    
    border-bottom: 3px solid #5094f2;
    transition: all 0.5s ease;
}
.banner{
    z-index: 1;
}
.mySlides{
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 900px;
    margin: 0 auto;
}
.mySlides h1{
    font-size: 43px;
    line-height: 44px;
    padding-top: 120px;
}
.mySlides p{
    font-size: 27px;
    line-height: 44px;
    width: 260px;
    padding-bottom: 30px;
}
.mySlides a{
    padding: 10px;
    padding-left: 0;
    background: #5094f2;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    font-size: 23px;
    line-height: 44px;
}
.mySlides a::before{
    content: url(../img/check.png);
    padding: 10px;
}
.mySlides a:hover{
    background: #1c65cb;
    transition: all 0.5s ease;
}
.slider-container{
    position: relative;
    margin: auto;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    transition: 0.5s ease;
    left: -70px;
    width: auto;
    padding: 5px;
}
.prev:hover, .next:hover{
    background: rgba(0,0,0,0.15);
}
.next{
    right: -70px;
    left: unset;
}
.fade{
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -moz-animation-name: fade;
    -webkit-animation-name: fade;
    animation-name: fade;
}
@-webkit-keyframes fade{
    from{opacity: 0.1;}
    to{opacity: 1;}
}
@keyframes fade{
    from{opacity: 0.1;}
    to{opacity: 1;}
}
@-moz-keyframes fade{
    from{opacity: 0.1;}
    to{opacity: 1;}
}
.slideLeft{
    padding-left: 63px;
    padding-top: 38px;
}
.items{
    background: url(../img/items_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.items_wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
}
.item{
    width: 260px;
    padding-bottom: 90px;
    text-align: center;
    font-size: 14px;
}
.item img{
    padding-bottom: 25px;
}
.item h2{
    padding-bottom: 10px;
    color: #5094f2;
    font-size: 20px;
}
.cart{
    background: #fff;
    padding: 0 54px;
    font-size: 42px;
    padding-bottom: 45px;
}
.cart_wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.text p{
    font-size: 15px;
    padding-bottom: 20px;
}
.text h3{
    font-size: 26px;
    padding-bottom: 30px;
}